:root {
    /* CSS Variables for colors and sizes */
    --background-color: #D1FAE5;
    --primary-color: #6EE7B7;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --face-size: 600px;
    --eye-width: 100px;
    --eye-height: 120px;
    --iris-width: 50px;
    --iris-height: 60px;
    --mouth-width: 400px;
    --mouth-height: 200px;
}

body {
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

h1 {
    align-self: center;
    padding: 1ex;
    color: var(--primary-color);
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#face {
    background: gold;
    border-radius: 50%;
    height: var(--face-size);
    width: var(--face-size);
    display: flex;
    flex-direction: column;
    position: relative;
}

#eyes {
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.eye-socle {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eye {
    background: var(--white-color);
    border-radius: 50%;
    height: var(--eye-height);
    width: var(--eye-width);
    position: relative;
}

#left-eye {
    align-self: end;
}

#right-eye {
    align-self: start;
}

.iris {
    background: var(--black-color);
    border-radius: 50%;
    height: var(--iris-height);
    width: var(--iris-width);
    transition: transform 0.1s;
}

#mouth {
    flex-grow: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#smile {
    background: var(--white-color);
    height: var(--mouth-height);
    width: var(--mouth-width);
    border-radius: 0 0 200px 200px;
}
