/* Define reusable CSS variables for colors */
:root {
    --primary-color: #5EBEC4;
    --secondary-color: #F92C85;
    --background-color: #FDF5DF;
    --light-gray: lightgray;
}

/* General body styling */
body {
    background: var(--primary-color);
    font-family: Verdana, Helvetica, sans-serif;
    padding: 10px 19%;
    width: 62%;
}

h1, h2 {
    color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;
}

#container {
    background: var(--background-color);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--secondary-color);
    padding: 25px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 60px 0 20px;
}

.switch {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 50px;
}

.switch input {
    opacity: 0;
    height: 0;
    width: 0;
}

.slider {
    background: black;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    transition: .5s;
}

.slider:before {
    background: var(--light-gray);
    content: "";
    position: absolute;
    bottom: -4px;
    height: 10px;
    width: 10px;
    transition: .5s;
}

input:checked + .slider {
    background: linear-gradient(90deg, red, orange);
}

input:checked + .slider:before {
    background: var(--secondary-color); 
    transform: translateX(32px);
}

.slider.round:before {
    border-radius: 50%;
}

.board {
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    box-shadow: 0 0 2px var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
}

.square {
    background: white;
    flex: 1 0 auto;
    height: 4px;
    width: 4px;
}
