/* Reset everything */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, sidebar {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, sidebar {
	display: block;
	}

body {
	line-height: 1;
	-webkit-text-size-adjust: none;
	}

ol, ul {
	list-style: none;
	}



/* General setup */

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
	background: #f5f6f7;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18pt;
	font-weight: 300;
	line-height: 1.75em;
	color: #6a6b6c;
	}

body.is-loading * {
	animation: none !important;
	transition: none !important;
	}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	color: #3a3b3c;
	line-height: 1.75em;
	}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
	}

h1 a strong, h2 a strong, h3 a strong, h4 a strong, h5 a strong, h6 a strong {
    color: #333;
    }

strong, b {
	font-weight: 400;
	color: #555;
	}

em, i {
	font-style: italic;
	}

a {
	text-decoration: none;
	color: #286ea0;
	transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	outline: 0;
	}

a:hover {
    color: #6899bc;
	}

p, ul, ol, dl, table {
	margin-bottom: 1em;
    hyphens: auto;
	}

br.clear {
	clear: both;
	}

ul.default {
	list-style: circle;
    padding-top: 1em;
	}

ul.default li {
	padding-bottom: 0.5em;
    margin-left: 1em;
	}



/* Side bar */

#sidebar {
	position: fixed;
	top: 0;
	left: -350px;
	height: 100%;
	color: #fafbfc;
	background: #202730;
	text-align: right;
    transition: all 0.35s ease-in-out;
}

#sidebar .top {
    position: relative;
	left: 0;
	top: 1ex;
	margin: 1.75em 1.5em 1.5em 1.5em;
	min-height: 48px;
	cursor: default;
	}

#sidebar .top h1 {
	color: rgb(224, 225, 226);
	font-weight: 600;
	font-size: 1em;
	line-height: 1em;
	text-align: right;
	}

#sidebar .top p {
	position: absolute;
    right: 0;
	display: block;
	font-size: 0.7em;
	color: rgb(210, 211, 212);
	line-height: 1.33em;
	margin-top: 0.5em;
	font-weight: 300;
    width: 50%;
	}

#sidebar .top img {
	position: absolute;
	left: 0;
	top: 0;
	width: 70px;
	height: 70px;
    border-radius: 100%;
	}

#sidebar .icon {
    text-decoration: none;
}

#sidebar .icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.1em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

#sidebar .icon .label {
    display: none;
}

#sidebar .menu {
    position: relative;
    top: 3em;
    display: block;
}

#sidebar .menu ul li a {
	display: block;
	padding: 0.5em 1.5em 0.5em 1.5em;
	color: rgba(255, 255, 255, 0.66);
	text-decoration: none;
	font-weight: 300;
	outline: 0;
	border: 0;
	transition: color 0.4s ease-in-out;
	}

#sidebar .menu ul li a span {
	position: relative;
	display: block;
	font-size: 0.8em;
	}

#sidebar .menu ul li a span:before {
	position: absolute;
	left: 0;
	color: #41484c;
	text-align: center;
	width: 1.25em;
	line-height: 1.75em;
	}

#sidebar .menu ul li a.active {
	background: rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
	color: #fff;
	}

#sidebar .menu ul li a.active span:before {
	color: #286ea0;
	}


#sidebar .bottom {
    position: absolute;
    bottom: 1ex;
    width: 100%;
	font-size: 1em;
	margin-bottom: 1em;
	text-align: center;
	}

#sidebar .bottom a {
	color: #81888c;
    padding: 0 1ex 0 1ex;
	transition: color 0.4s ease-in-out;
	}

#sidebar .bottom a:hover {
	color: #f0f0f0;
	}



/* Main */

#main > section {
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 2em;
    text-align: justify;
	}

#main > section h2 {
    text-align: center;
	font-size: 2em;
    margin-bottom: 1em;
	}

#main > section h3 {
	font-size: 1.33em;
    margin-top: 2em;
	}

#main > section:nth-child(odd) {
	background-color: #fafbfc;
	}

#main > section:nth-child(even) {
	background-color: #f5f6f7;
	}


#main .container {
    margin: 0 auto;
    padding: 2em 15ex 2em 15ex;
    width: 100%;
}


.tabs_wrap button {
    float: right;
    width: 120px;
    text-align: center;
    background: #e9ecf1;
    border: 1px solid #c1c4c9;
    padding: 1ex 1ex 1ex 1ex;
    cursor: pointer;
    transition: all 0.2s ease;
}

.tabs_wrap button.first {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tabs_wrap button.last {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tabs_wrap button.active {
    color: #dfe8f0;
    background-color: #3f4850;
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
}


/* Images */

.image {
	display: inline-block;
	border: 0;
	}

.image img {
	display: block;
    width: 100%;
    border-radius: 2px;
    transition: transform .5s ease-in-out;
	}

.image:hover img {
    transform: scale(1.02);
}

.image.featured {
	display: block;
	width: 100%;
	margin-bottom: 2em;
    overflow: hidden;
	}



/* Footer */

#footer {
	text-align: center;
    color: #b0b0b0;
	background-color: #202730;
	padding: 1em 5ex 1ex 5ex;
	font-size: 0.66em;
	}

#footer p {
	line-height: 1em;
	}

#footer .right {
    background: inherit;
    float: right;
    text-align: right;
}

#footer .right a {
    color: #b0b0b0;
    text-decoration: none;
    }



/* Responsiveness */

/* Wide */
@media screen and (min-width: 961px) and (max-width: 1880px) {

    body, input, textarea, select {
            font-size: 16pt;
        }

    #sidebar {
        width: 350px;
    }

    #main {
        margin-left: 350px;
    }

    #main .container {
        width: 1200px;
    }

    #footer {
        margin-left: 349px;
    }
}


/* Normal */
@media screen and (min-width: 961px) and (max-width: 1620px) {

    #main .container {
        width: 100%;
    }

    #main > section {
        padding: 2em 3em 2em 3em;
    }

}


/* Narrow */
@media screen and (min-width: 961px) and (max-width: 1320px) {

    body, input, textarea, select {
        font-size: 14pt;
    }

    .item {
        margin-bottom: 20px;
    }

    ul.bottom li a {
        width: 1.75em;
    }

    #sidebar {
        width: 20%;
    }

    #sidebar .top img {
        position: relative;
        margin-bottom: 0.5em;
    }

    #sidebar .top p {
        width: 90%;
    }

    #sidebar .menu ul li a {
        font-size: 0.8em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #sidebar .menu ul li a span {
        padding-right: 2.25em;
    }

    #sidebar .menu ul li a span:before {
        left: 100%;
        margin-left: -1.25em;
        line-height: 2.25em;
    }

    #main {
        margin-left: 20%;
    }

    #main .container {
        width: 100%;
        padding: 2em 3em 2em 3em;
    }

    #footer {
        margin-left: 20%;
        font-size: 0.5em;
    }
}


/* Narrower */

@media screen and (max-width: 960px) {

    html, body {
        overflow-x: hidden;
    }

    body, input, textarea, select {
        font-size: 16pt;
    }

    .item {
        margin-bottom: 15px;
    }

    ul.bottom a {
        width: 1.75em;
        font-size: 1.25em;
    }

    .sidebarButton {
        position: fixed;
        display: block;
        height: 2.25em;
        width: 3.25em;
        left: 0;
        top: 0;
        z-index: 1;
        outline: 0;
        border: 0;
        transition: transform 0.5s ease;
    }

    .sidebarButton:before {
        text-decoration: none;
        font-family: FontAwesome;
        line-height: 2.25em;
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        content: "\f0c9";
        color: #fff;
        background: rgba(128, 136, 144, 0.5);
        border-radius: 0.35em;
        text-align: center;
        position: absolute;
        left: 0.5em;
        top: 0.5em;
        display: block;
        height: 2.25em;
        width: 3.25em;
    }

    #sidebar {
        backface-visibility: hidden;
        display: block;
        height: 100%;
        width: 275px;
        position: fixed;
        top: 0;
        z-index: 2;
        background: #222729;
        box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.125);
        transform: translateX(-275px);
        transition: transform 0.5s ease;
    }

    sidebar br {
        display: none;
    }

    #sidebar .top {
        position: relative;
        margin: 1.5em 1.25em 1.25em 1.25em;
    }

    #sidebar .top img {
        position: relative;
        margin-bottom: 0.5em;
    }

    #sidebar .top p {
        width: 90%;
    }

    #sidebar .menu ul li a {
        padding: 0.5em 1.25em 0.5em 1.25em;
    }

    /*#sidebar .bottom {
        border-top: solid 1px rgba(255, 255, 255, 0.05);
        box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15);
        padding-top: 2em;
        margin-top: 1em;
        position: relative;
    }*/

    #main {
        backface-visibility: hidden;
        transition: transform 0.5s ease;
        padding-bottom: 1px;
        margin-left: 0;
    }

    #main > section {
        padding: 2em 2em 3em 2em;
    }

    #main .container {
        width: 100%;
        padding: 2em 3em 2em 3em;
    }

    #footer {
        margin-left: 0;
        font-size: 0.5em;
    }
}


/* Mobile */
@media screen and (max-width: 736px) {
    body, input, textarea, select {
        font-size: 14pt;
    }

    h2 {
        font-size: 1.5em;
        letter-spacing: 0;
        font-weight: 300;
    }

    ul.bottom a {
        width: 1.75em;
        font-size: 1.5em;
    }

    #main > section {
        padding: 2em 2em 3em 2em;
    }

    #main section sidebar {
        padding: 0 1em;
    }

    #main .container {
        width: 100% !important;
        padding: 0 15px 0 15px;
    }

    #footer {
        font-size: 0.5em;
    }

}